.nav-tabs {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    font-size: .8em;
    line-height: 1.1;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* .nav-tabs a:hover::before,
.nav-link-active::before {
    content: '';
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 100vw;
    height: 35px;
    width: 35px;
    background-color: #000;
} */

.new-post-icon {
    position: relative;
    z-index: 1;
    margin-top: -50px;
    margin-bottom: -15px;
    width: 85px;
    opacity: 80%;
}

.floating-bubbles li {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #fff;
    z-index: -1;
    border-radius: 50%;
    width: 0px;
    height: 0px;

    /* top: 25%; left: 4%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    z-index: 10; */

    animation-delay: 0;
    animation-timing-function: linear;
}

.new-post-icon:hover .floating-bubbles li {
    animation: bubble 10s infinite;
}

.new-post-icon:hover .floating-bubbles li:nth-child(1) {
    top: 25%; left: 45%;
    width: 10px;
    height: 10px;
    animation-delay: 0;
    animation-duration: 10s;
    border: 1px solid #000;
    background-color: var(--light-blue);
    transition: .5s ease-in;
}

.new-post-icon:hover .floating-bubbles li:nth-child(2) {
    top: 40%; left: 40%;
    width: 55px;
    height: 55px;
    animation-delay: 2s;
    animation-duration: 20s;
    border: 1px solid #000;
    background-color: var(--light-blue);
    transition: 5s ease-in;
}

.new-post-icon:hover .floating-bubbles li:nth-child(3) {
    top: 20%; left: 30%;
    width: 22px;
    height: 22px;
    animation-delay: 1s;
    animation-duration: 15s;
    border: 1px solid #000;
    background-color: var(--light-blue);
    transition: 2s ease-in;
}

.new-post-icon:hover .floating-bubbles li:nth-child(4) {
    top: 25%; left: 30%;
    width: 15px;
    height: 15px;
    animation-delay: 1s;
    animation-duration: 13s;
    border: 1px solid #000;
    background-color: var(--light-blue);
    transition: 2s ease-in;
}

.new-post-icon:hover .floating-bubbles li:nth-child(5) {
    top: 25%; left: 30%;
    width: 44px;
    height: 44px;
    animation-delay: 1s;
    animation-duration: 17s;
    border: 1px solid #000;
    background-color: var(--light-blue);
    transition: 2s ease-in;
}

/* .floating-bubbles figure:nth-of-type(2) {
    transition-delay: 1.2s;
}

.floating-bubbles figure:nth-of-type(3) {
    transition-delay: .6s;
}

.floating-bubbles figure:nth-of-type(3) {
    transition-delay: .2s;
} */

/* .floating-bubbles:hover figure:nth-of-type(1) {
    display: block;
    position: absolute;
    top: -100px; left: 0px;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    transition: .7s ease-out;
} */

@keyframes bubble {
    0% {
        -webkit-transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-300px);
    }
}




.home-icon,
.profile-icon,
.friends-icon,
.login-icon {
    max-width: 40px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    margin-left: 10px;
}