.nav-tabs {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    font-size: .8em;
    line-height: 1.1;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
}

.new-post-icon {
    position: relative;
    z-index: 1;
    margin-top: -50px;
    margin-bottom: -15px;
    width: 85px;
    opacity: 80%;
}

.floating-bubbles li {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #fff;
    z-index: -1;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    animation-delay: 0;
    animation-timing-function: linear;
}

.new-post-icon:hover .floating-bubbles li {
    animation: bubble 10s infinite;
}

.new-post-icon:hover .floating-bubbles li:nth-child(1) {
    top: 25%;
    left: 45%;
    width: 10px;
    height: 10px;
    animation-delay: 0;
    animation-duration: 10s;
    border: 1px solid #000;
    background-color: var(--light-blue);
    transition: .5s ease-in;
}

.new-post-icon:hover .floating-bubbles li:nth-child(2) {
    top: 40%;
    left: 40%;
    width: 55px;
    height: 55px;
    animation-delay: 3s;
    animation-duration: 20s;
    border: 1px solid #000;
    background-color: var(--light-blue);
    transition: 5s ease-in;
}

.new-post-icon:hover .floating-bubbles li:nth-child(3) {
    top: 20%;
    left: 30%;
    width: 22px;
    height: 22px;
    animation-delay: 1s;
    animation-duration: 15s;
    border: 1px solid #000;
    background-color: var(--light-blue);
    transition: 2s ease-in;
}

.new-post-icon:hover .floating-bubbles li:nth-child(4) {
    top: 25%;
    left: 30%;
    width: 15px;
    height: 15px;
    animation-delay: 1s;
    animation-duration: 11s;
    border: 1px solid #000;
    background-color: var(--light-blue);
    transition: 2s ease-in;
}

.new-post-icon:hover .floating-bubbles li:nth-child(5) {
    top: 25%;
    left: 30%;
    width: 44px;
    height: 44px;
    animation-delay: 1s;
    animation-duration: 17s;
    border: 1px solid #000;
    background-color: var(--light-blue);
    transition: 2s ease-in;
}

@keyframes bubble {
    0% {
        -webkit-transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-300px);
    }
}

.home-icon,
.profile-icon,
.friends-icon,
.login-icon {
    max-width: 40px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.footer-text {
    display: none;
    font-size: .75rem;
}

@media only screen and (min-width: 480px){
    h2.footer-text {
        display: inline-block;
        margin: none;
        padding: none;
    }
    .footer-img {
        display: none;
    }
}