main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio {
    border-radius: 35px;
}

p {
    margin-bottom: 0;
}

h1 {
    font-weight: 900;
}

.button-size {
    height: 32px;
    width: 32px;
}

.edit-prof-btn {
    display: flex;
    align-self: flex-end;
}

@media screen and (min-width: 480px) {
    .edit-prof-btn {
        align-self: center;
    }
}