header {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, white, #B9E5FF);
}

.logo {
    max-width: 330px;
    padding: 10px;
}

@media screen and (min-width: 480px) {
    .logo {
        max-width: 480px;
    }
}