* {
  box-sizing: border-box;
}

:root {
  /* COLOR VARIABLES */
  --pink: #ff8fb7;
  --light-pink: #FFDAE7;
  --orange: #FF914D;
  --light-orange: #FFD073;
  --yellow: #FFDE59;
  --light-yellow: #FFF0B5;
  --green: #7ED957;
  --light-green: #D8FFA5;
  --blue: #56BDFA;
  --light-blue: #B9E5FF;
  --purple: #8C52FF;
  --light-purple: #D9C5FF;

  /* FONT VARIABLES */
  --main-text-font: Helvetica, Arial, sans-serif;
  --heading-font: 'Montserrat', Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  background-color: #fff;
  color: #000;
}

body {
  font-family: var(--main-text-font);
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0;
}

#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* gap: 20px; */
  height: 100%
}

main {
  padding: 1rem 1rem 3.5rem 1rem;
  display: flex;
  justify-content: space-around;
}

p {
  font-family: var(--main-text-font);
  line-height: 1.5;
  padding: 15px;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: var(--heading-font);
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  font-family: var(--heading-font);
  font-size: 1.3em;
  font-weight: bold;
}

button {
  font-family: var(--main-text-font);
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--light-purple);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .9em;
  border-radius: 20px;
  border: 1px solid #000;
  height: 40px;
}

button:hover {
  background-color: var(--purple);
  font-weight: bold;
  /* color: #fff; */
}

label {
  text-align: left;
  margin-top: 10px;
}

::placeholder {
  font-family: var(--main-text-font);
  font-size: .9em;
  letter-spacing: 1px;
  padding: 5px;
}

img {
  width: 100%;
  display: block;
}
